.gr{
	border: 1px solid gray;
	background-color:cornsilk;
	float:left;
	clear:left;
	margin:3px;
	padding: 3px;
}
.gr_head{
	float: left;
	color: crimson;
	margin: 3px;
	font-size:x-large;
}
.gr_sh{
	font-family: monospace;
	float: left;
	color: gray;
	margin: 3px;
}
.gr_hcont{
	float: left;
	width:100%;
}
.gr_sh:hover{
	color: black;
	cursor: default;
}
.gr_itemCont{
	
}

.pr{
	float:left;
	clear:left;
	padding: 3px;
	margin: 1px;
}
.pr_br{
	float:left;
	clear:left;
	padding: 3px;
	margin: 1px;
	background-color:orangered;
}
.pr_descr{
	float:left;
	margin-right: 5px;
}
.pr_getelem{
	float:left;
	min-width: 50px;
	min-height:20px;
	margin: 1px;
	padding-left: 3px;
	padding-right:3px;
	background-color:lightgray;
}
.pr_getelem:hover{
    outline:1px solid gray;
}
.pr_getelemnv{
	float:left;
	min-width: 50px;
	min-height:20px;
	margin: 1px;
	padding-left: 3px;
	padding-right:3px;
	background-color:lightgray;
}
.pr_getelemnv:hover{
    outline:1px solid gray;
}
.pr_getelemv{
	float:left;
	min-width: 50px;
	min-height:20px;
	margin: 1px;
	padding-left: 3px;
	padding-right:3px;
	background-color:lightgreen;
}
.pr_getelemv:hover{
    outline:1px solid gray;
}
.pr_setelem{
	float:left;
	margin-left:5px;
	max-width:80px;
}
.pr_setelem2{
	float:left;
	margin-left:5px;
	max-width:40px;
}
.pr_setelem4{
	float:left;
	margin-left:5px;
	max-width:60px;
}
.pr_setelem5{
	float:left;
	margin-left:5px;
}
.pr_setcont{
	float:left;
	margin-left:5px;
}
.pr_idelem{
	float:left;
	min-width: 50px;
}
.pr_button{
	float:left;
}
.pr_btnprot{
	text-decoration: line-through;
	color:red;
}
.pr_success{
	color: green;
	opacity: 1;
}
.pr_failed{
	color: red;
	opacity: 1;
}
.pr_badval{
	color: lightyellow;
	opacity: 1;
}
.pr_sametm{
	color: lightblue;
	opacity: 1;
}

.ch_elem{
	float: left;
	border: 1px solid black;
	margin: 3px;
	padding: 3px;
}

.ch_elem:hover{
	outline:1px solid gray;
}

.ch_elem_selected{
    background-color: lightgray;
}
.ch_cont{
	min-height: 30px;
	border: 1px solid green;
}

.pr_unsupported{
	border-bottom: 1px solid red;
}


